.heading{
    text-align: justify;
    padding: 20px;
    border-radius: 30px;

    
}
.block{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: yellow;
    margin-left:250px;
    margin-right:250px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin-top: 125px;
}
button{
    width:200px;
    height: 50px;
    margin-top:15px;
    margin-bottom: 50px;
    margin-left:20px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom:10px;

}
button:hover{
    box-shadow: 20px,5px,30px,black;
    cursor:pointer;
    
}
.block1{
    display: flex;
    padding-left: 50px;
    background-color: white;
    margin-left:250px;
    margin-right:250px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-top: 90px;

}
.Textbox{
    width:300px;
    height:40px;
    margin-left:5px;
    margin-top:20px;
    font-size: 20px;
    margin-right:10px;
}
.newbut{
    width: 290px;
    margin-left:10px;
}
#stopwatch{
    display: none;
    margin-left:30px;
}
    
